.next {
  position: relative;
  border-radius: 2px 0 0 2px;
  padding: 0 8px 0 13px;
  line-height: 32px;
  height: 32px;
  font-size: 12px;
  &:after {
    position: absolute;
    border-color: transparent transparent transparent #f9da00;
    border-width: 16px 0 16px 11px;
    border-style: solid;
    content: "";
    left: 100%;
    top: 0;
    width: 0;
    height: 0;
  }
}

@keyframes banner {
  0% {
    background-color: #ff5733; /* Màu cam đậm */
  }
  18% {
    background-color: #ffbd33; /* Màu vàng cam */
  }
  36% {
    background-color: #33ff57; /* Màu xanh lá cây */
  }
  54% {
    background-color: #3357ff; /* Màu xanh dương */
  }
  72% {
    background-color: #ff33dc; /* Màu hồng */
  }
  100% {
    background-color: #ffbd33; /* Màu vàng cam */
  }
}
