@import url("https://fonts.googleapis.com/css2?family=Moon+Dance&display=swap");

.font-moon-dance {
  font-family: "Moon Dance", cursive !important;
}

.react-tel-input .special-label {
  background-color: transparent;
  font-family: "Montserrat,Nucleo,Helvetica,sans-serif";
  top: -8px;
  left: 10px;
  font-size: 12px;
  padding: 0 3px;
}

.react-tel-input .invalid-number-message {
  position: absolute;
  z-index: 1;
  font-size: 13px;
  left: 15px;
  top: 40px;
  background: #e1f5fe;
  padding: 0 5px;
  /* color: #de0000; */
}

#pinNumber {
  -webkit-text-security: disc;
  -text-security: disc;
}

canvas.step6 {
  position: absolute;
  top: 46.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 2;
}

video {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 1;
}

.video-direction {
  position: absolute;
  top: 70%;
  left: 50%;
  width: 440px;
  padding: 10px 0;
  transform: translate(-50%, -50%);
}

/* authorize code input */

.inputStyle {
  width: 43px !important;
  height: 43px;
  border-radius: 7px;
  margin-left: 8px;
  margin-right: 8px;
  font-size: 20px;
  border: 1px solid #3b82f6;
}

.containerStyle {
  display: flex;
  justify-content: center;
}

/* end of authorize code input */

/* disable arrow input number */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* end of disable arrow input number */

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #0087ca;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
